body{
    width: 100vw;
    height: 100vh;
}
#menu{
    display: flex;
    justify-self: center;
    align-self: center;
    border: 1px solid black;
    padding: 10px;
}
.links{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    background-color: aquamarine;
}
.links:hover{
    color: rgb(84, 84, 81);
}