#header{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(73, 70, 70);
    padding: 10px;
}
.links{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 7px;
    background-color: rgb(224, 202, 32);
}
.links:hover{
    color: rgb(84, 84, 81);
}